<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="description"
		content="Julien Noel Portfolio developer fullstack javascript react react native nodejs mongo db mes projets de developpement web et mobile">


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>
		<%= title %>
	</title>

	<!-- STYLES -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="css/plugins.css" />

	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

	<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
	<!-- /STYLES -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0WEYHLNR2Q"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag () { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-0WEYHLNR2Q');
	</script>
	<meta name="facebook-domain-verification" content="145bakg18hpno46f1oqtp47tmkdpxr" />
	<!-- Meta Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '226301612281659');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=226301612281659&ev=PageView&noscript=1" /></noscript>
	<!-- End Meta Pixel Code -->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>

	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->

	<!-- WRAPPER ALL -->
	<div class="devman_tm_all_wrap" data-magic-cursor="show">

		<!-- MOBILE MENU -->
		<div class="devman_tm_mobile_menu">
			<div class="mobile_menu_inner">
				<div class="mobile_in">

					<div class="trigger">
						<div class="hamburger hamburger--slider">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li><a href="#home">Home</a></li>

						<li><a href="#portfolio">Portfolio</a></li>

						<li class="download_cv"><a href="img/cv/CV_Julien_Noel_Front.pdf" download>Télécharger mon
								CV</a></li>
						
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->

		<!-- HEADER -->
		<div class="devman_tm_header">
			<div class="container">
				<div class="header_inner">

					<div class="menu">
						<ul class="anchor_nav">
							<li class="current"><a href="#home">Home</a></li>
							<!-- <li><a href="#about">About</a></li> -->
							<li><a href="#portfolio">Portfolio</a></li>

							<li class="download_cv"><a href="img/cv/CV_Julien_Noel_Front.pdf" download>Télécharger mon
									CV</a></li>
							<li>
								<a href="https://www.linkedin.com/in/julien-noel-374761123/"><i class="devicon-linkedin-plain colored logo"></i></a>
							</li>
							<li>
								<a href="https://github.com/JulienNoel"><i class="devicon-github-original colored logo"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /HEADER -->

		<!-- HERO -->
		<div class="devman_tm_section" id="home">
			<div class="devman_tm_hero">
				<div class="background">

				</div>
				<div class="container">
					<div class="content">
						<div class="left">
							<div class="inner">
								<h3 class="hello">Bonjour je suis</h3>
								<h3 class="name">Julien Noel</h3>
								<h3 class="job">Developeur Web & Mobile Frontend</h3>
								<p class="text">Je suis passionné par le développement informatique en javascript et
									j'adore construire des applications web et mobiles utiles !
									Je peux vous aider à construire un site web ou une application mobile.</p>
								<div class="buttons">
									<div class="devman_tm_button">
										<a class="anchor" href="#contact">Me Contacter</a>
									</div>
									<div class="devman_tm_button rdv">
										<a class="anchor" href="https://calendly.com/jncoweb/30min">Prendre RDV</a>
									</div>
									
								</div>
								

							</div>
							<h3 class="stroke_1">Julien</h3>
							<h3 class="stroke_2">Noel</h3>
						</div>
						<div class="right">
							<div class="image">
								<img src="img/thumbs/53-61.jpg" alt="julien noel" />
								<div class="main" data-img-url="img/hero/portrait.jpg"></div>
								<!-- <span class="win">
									<img src="img/svg/award.svg" alt="" class="svg" />
								</span>
								<div class="numbers year">
									<div class="wrapper">
										<h3><span class="devman_tm_counter" data-from="0" data-to="12" data-speed="2000">0</span></h3>
										<span class="item_name">Years of<br />Success</span>
									</div>
								</div>
								<div class="numbers project">
									<div class="wrapper">
										<h3><span class="devman_tm_counter" data-from="0" data-to="800" data-speed="2000">0</span><span class="extra">+</span></h3>
										<span class="item_name">Projects<br />Completed</span>
									</div>
								</div> -->
								<span class="circle anim_circle"><img src="img/hero/roundtextwhite.png"
										alt="developpeur web mobile" /></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /HERO -->



		<!-- ABOUT -->
		<div class="devman_tm_section" id="about">
			<div class="devman_tm_about">
				<div class="container">
					<div class="about_inner">
						<div class="left">
							<div class="image_wrap">
								<img src="img/thumbs/64-49.jpg" alt="" />
								<div class="main" data-img-url="img/about/code.jpg"></div>
								<div class="extra_image">
									<!-- <div class="image_inner">
										<img src="img/thumbs/1-1.jpg" alt="" />
										<div class="main_extra" data-img-url="img/about/2.jpg"></div>
									</div> -->
									<!-- <span class="icon_1 wow fadeIn" data-wow-duration="1s"><img class="svg" src="img/svg/joomla.svg" alt="" /></span> -->
								</div>
								<span class="icon_2 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><img
										class="svg" src="img/svg/phone.svg" alt="" /></span>
								<span class="icon_3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><img
										class="svg" src="img/svg/web.svg" alt="" /></span>
								<span class="icon_4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s"><img
										class="svg" src="img/svg/cpu.svg" alt="" /></span>
							</div>
						</div>
						<div class="right">
							<div class="title">
								<span>Je suis developpeur React Front end</span>
								<h3>Je développe des applications qui aident les entreprises et les clients</h3>
							</div>
							<div class="text">
								<p>J'ai un profil orienté Frontend et mes technos favorites sont React pour les
									applications Web et React Native pour les applications mobiles</p>
								<p>J'ai également des compétences en backend avec NodeJs, mongodb et firebase pour la
									base de données</p>
							</div>
							<div class="devman_tm_button">
								<a class="anchor" href="#portfolio">Voir le Portfolio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /ABOUT -->

		<!-- COUNTER -->
		<!-- <div class="devman_tm_section">
			<div class="devman_tm_counter_section">
				<div class="container">
					<div class="counter_list">
						<ul>
							<li>
								<div class="list_inner">
									<div class="wrapper">
										<div class="value">
											<span class="abs"><span class="tm_counter" data-from="0" data-to="120" data-speed="1200">0</span><label class="small">+</label></span>
										</div>
										<div class="text">
											<h3>Digital<br />Products</h3>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<div class="wrapper">
										<div class="value">
											<span class="abs"><span class="tm_counter" data-from="0" data-to="40" data-speed="1200">0</span><label class="small">+</label></span>
										</div>
										<div class="text">
											<h3>Open Source<br />Projects</h3>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<div class="wrapper">
										<div class="value">
											<span class="abs"><span class="tm_counter" data-from="0" data-to="10" data-speed="1200">0</span><label class="big">M</label></span>
										</div>
										<div class="text extra">
											<h3>Lines of<br />Code</h3>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="shape moving_effect" data-direction="y" data-reverse="yes"></div>
			</div>
		</div> -->
		<!-- /COUNTER -->

		<!-- PORTFOLIO -->
		<div class="devman_tm_section" id="portfolio">
			<div class="devman_tm_portfolio">
				<div class="container">
					<div class="devman_tm_main_title" data-text-align="center">
						<span>Portfolio</span>
						<h3>Mes Réalisations</h3>
						<p></p>
					</div>
					<div class="portfolio_list">
						<ul>
							<li class="wow fadeInUp" data-wow-duration="2s">
								<div class="list_inner">
									<div class="background_image" data-img-url="img/portfolio/noteit.png"></div>
									<div class="content">
										<div class="details">
											<span class="category"><a href="#">Application Mobile</a></span>
											<h3 class="title"><a href="#">Note It <br />Application de prise de
													note<br /> React Native / Expo / Firebase</a></h3>
											<span class="view_project"><a href="#">Voir le Projet <i
														class="icon-right-big"></i></a></span>
										</div>
									</div>
									<div class="overlay"></div>
									<a href="#" class="devman_tm_full_link portfolio_popup"></a>

									<div class="hidden_content">
										<div class="popup_details">
											<div class="main_details">

												<div class="textbox">
													<iframe title="vimeo-player"
														src="https://player.vimeo.com/video/788220073?h=27a2047a7e"
														width="300" height="600" frameborder="0"
														allowfullscreen></iframe>
													<p><a>Note It</a> de <a>Julien Noel</a></p>
													<p>En cours de réalisation</p>
													<p></p>
												</div>
												<div class="detailbox">
													<ul>
														<li>
															<span class="first">Client</span>
															<span>Projet Personnel</span>
														</li>
														<li>
															<span class="first">Technos</span>
															<span>React Native / Expo / Firebase </span>
														</li>
														<li>
															<span class="first">Categorie</span>
															<span><a href="#">Application Mobile</a></span>
														</li>
														<li>
															<span class="first">Date</span>
															<span>Janvier 2023</span>
														</li>
													</ul>
												</div>

											</div>
											<div class="additional_images">
												<!-- <img class='screenShot' src="img/portfolio/screenshotflashLearn1.png" alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn2.png" alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn4.png" alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn5.png" alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn6.png" alt="application mobile golfapp" /> -->
												<!-- <ul>
													<li>
														<div class="list_inner">
															<div class="my_image">
																
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp3.jpg"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp4.jpg"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp5.jpg"></div>
															</div>
														</div>
													</li>
													

												</ul> -->
											</div>
										</div>
									</div>
								</div>
							</li>


							<li class="wow fadeInUp" data-wow-duration="2s">
								<div class="list_inner">
									<div class="background_image" data-img-url="img/portfolio/mockupflashlearn.png">
									</div>
									<div class="content">
										<div class="details">
											<span class="category"><a href="#">Application Mobile</a></span>
											<h3 class="title"><a href="#">Flash Learn <br />Application pour
													l'apprentissage des langues<br /> React Native / NodeJS /
													MongoDB</a></h3>
											<span class="view_project"><a href="#">Voir le Projet <i
														class="icon-right-big"></i></a></span>
										</div>
									</div>
									<div class="overlay"></div>
									<a href="#" class="devman_tm_full_link portfolio_popup"></a>

									<div class="hidden_content">
										<div class="popup_details">
											<div class="main_details">

												<div class="textbox">
													<iframe title="vimeo-player"
														src="https://player.vimeo.com/video/747314777?h=215e1b918b"
														width="300" height="600" frameborder="0"
														allowfullscreen></iframe>
													<p><a href="https://vimeo.com/747314777">Flash Learn</a> de <a
															href="https://vimeo.com/user180671516">Julien Noel</a></p>
													<p>Projet personnel. Cette application est désitnée aux personnes
														souhaitant apprendre les 100 mots les plus couramment utilisé
														dans 50% des conversations.</p>
													<p>j’ai développé plusieurs fonctionnalités pour l’apprentissage.
														Vous pouvez apprendre via des séries de 5 mots, Le téléphone
														prononcera le mot à apprendre, et vous pouvez vous enregistrer
														et réécouter votre prononciation.<br />
														Pour s’amuser en apprenant, j’ai créé un mini jeu où suivant le
														mot annoncé, il faut choisir la bonne traduction entre 2 mots
														sur des carrés qui défilent sur l'écran.<br />
														Ensuite j’ai créé une page statistique pour visualiser l'état
														d’avancement entre les différentes langues.
														Et enfin pour ne pas oublier les mots appris, j’ai créé des
														rappels via des notifications qui apparaissent 1h après, 1 jour
														après et 1 semaine après la fin de l’exercice.<br />
														Pour la traduction j'ai utilisé l'API google Translate.
													</p>
												</div>
												<div class="detailbox">
													<ul>
														<li>
															<span class="first">Client</span>
															<span>Projet Personnel</span>
														</li>
														<li>
															<span class="first">Technos</span>
															<span>React Native / Expo / NodeJS / MongoDB / Javascript /
																Google API</span>
														</li>
														<li>
															<span class="first">Categorie</span>
															<span><a href="#">Application Mobile</a></span>
														</li>
														<li>
															<span class="first">Date</span>
															<span>Septembre 2022</span>
														</li>
													</ul>
												</div>

											</div>
											<div class="additional_images">
												<img class='screenShot' src="img/portfolio/screenshotflashLearn1.png"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn2.png"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn4.png"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn5.png"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/screenshotflashLearn6.png"
													alt="application mobile golfapp" />
												<!-- <ul>
													<li>
														<div class="list_inner">
															<div class="my_image">
																
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp3.jpg"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp4.jpg"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp5.jpg"></div>
															</div>
														</div>
													</li>
													

												</ul> -->
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="wow fadeInUp" data-wow-duration="2s">
								<div class="list_inner">
									<div class="background_image" data-img-url="img/portfolio/airbnb.png"></div>
									<div class="content">
										<div class="details">
											<span class="category"><a href="#">Application Web</a></span>
											<h3 class="title"><a href="#">Clone Airbnb <br /> React / Next JS / Tailwind
													Css</a></h3>
											<span class="view_project"><a href="#">Voir le Projet <i
														class="icon-right-big"></i></a></span>
										</div>
									</div>
									<div class="overlay"></div>
									<a href="#" class="devman_tm_full_link portfolio_popup"></a>

									<div class="hidden_content">
										<div class="popup_details">
											<div class="main_details">

												<div class="textbox">
													<p>Projet personnel. Clone de l'application Airbnb</p>
													<p>Developpé avec Next Js et sa fonction router pour creer des
														requetes dynamique au niveau de l'url.
														Utilisation de tailwind css pour la mise en forme des pages.
														J'ai également utiliser Mapbox pour afficher les emplacements
														des logements.
														Mise en place du calendrier et de la recherche par ville, pour
														la démo seule la ville de London est disponible pour la
														recherche.<br />
														App déployé sur Vercel : <br /><a
															href="https://cloneproject-eosin.vercel.app/">https://cloneproject-eosin.vercel.app/</a>
													</p>
												</div>
												<div class="detailbox">
													<ul>
														<li>
															<span class="first">Client</span>
															<span>Projet Personnel</span>
														</li>
														<li>
															<span class="first">Technos</span>
															<span>React / Next JS / Tailwind / Mapbox /
																DatePicker</span>
														</li>
														<li>
															<span class="first">Categorie</span>
															<span><a href="#">Application Web</a></span>
														</li>
														<li>
															<span class="first">Date</span>
															<span>Octobre 2022</span>
														</li>
													</ul>
												</div>


											</div>
										</div>
									</div>
							</li>
							<li class="wow fadeInUp" data-wow-duration="2s">
								<div class="list_inner">
									<div class="background_image" data-img-url="img/portfolio/golfapp11.jpg"></div>
									<div class="content">
										<div class="details">
											<span class="category"><a href="#">Application Mobile</a></span>
											<h3 class="title"><a href="#">GolfApp <br />Application dédiée à la pratique
													du golf<br />React Native / NodeJS / MongoDB</a></h3>

											<span class="view_project"><a href="#">Voir le projet <i
														class="icon-right-big"></i></a></span>
										</div>
									</div>
									<div class="overlay"></div>
									<a href="#" class="devman_tm_full_link portfolio_popup"></a>

									<div class="hidden_content">
										<div class="popup_details">
											<div class="main_details">

												<div class="textbox">
													<iframe src="https://player.vimeo.com/video/730935775?h=b629a250d0"
														width="300" height="600" frameborder="0"
														allow="autoplay; fullscreen; picture-in-picture"
														allowfullscreen></iframe>
													<p><a href="https://vimeo.com/730935775">Golf App</a> de <a
															href="https://vimeo.com/user180671516">Julien Noel</a></p>
													<p>Projet réalisé en 15 jours pour la fin de la formation à la
														capsule. Cette application est désitné à faciliter la pratique
														du golf nottamment pour la prise de note des scores et la
														recherche de golf et de partenaires selon la réservation du
														parcours.</p>
													<p>Nous avons travaillé a 4 développeurs sur ce projets selon la
														méthode AGILE. Nous avons développer plusieurs fonctionnalités
														notamment la mise en place et la géolocalistion sur une map,
														l'affichage des scores avec un rendu dynamique, le systeme de
														reservation avec la mise en place de la base de données avec
														MongoDB.</p>
												</div>
												<div class="detailbox">
													<ul>
														<li>
															<span class="first">Client</span>
															<span>Projet La Capsule</span>
														</li>
														<li>
															<span class="first">Technos</span>
															<span>React Native / Expo / NodeJS / MongoDB /
																Javascript</span>
														</li>
														<li>
															<span class="first">Categorie</span>
															<span><a href="#">Application Mobile</a></span>
														</li>
														<li>
															<span class="first">Date</span>
															<span>Juin 2022</span>
														</li>
													</ul>
												</div>

											</div>
											<div class="additional_images">
												<img class='screenShot' src="img/portfolio/golfapp6.jpg"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/golfapp7.jpg"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/golfapp5.jpg"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/golfapp4.jpg"
													alt="application mobile golfapp" />
												<img class='screenShot' src="img/portfolio/golfapp3.jpg"
													alt="application mobile golfapp" />
												<!-- <ul>
													<li>
														<div class="list_inner">
															<div class="my_image">
																
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp3.jpg"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp4.jpg"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="img/thumbs/4-2.jpg" alt="application mobile golfapp" />
																<div class="main" data-img-url="img/portfolio/golfapp5.jpg"></div>
															</div>
														</div>
													</li>
													

												</ul> -->
											</div>
										</div>
									</div>

								</div>
							</li>

							<div class="shape_1 moving_effect" data-direction="y" data-reverse="yes"></div>
							<div class="shape_2 moving_effect" data-direction="y" data-reverse="yes"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /PORTFOLIO -->

		<!-- SKILLS -->
		<div class="devman_tm_section">
			<div class="devman_tm_skills">
				<div class="container">
					<div class="devman_tm_main_title" data-text-align="center">
						<span>Mes Technos</span>
						<h3>Je continue à m'améliorer sur mes technos préférées</h3>
						<p></p>
					</div>
					<div class="skills_wrapper">
						<div class="left">
							<div class="dodo_progress">
								<div>
									<i class="devicon-javascript-plain colored logo">Javascript</i>
								</div>
								<div>
									<i class="devicon-react-original colored logo">React</i>
								</div>
								<div>
									<i class="devicon-redux-original colored logo">Redux</i>
								</div>
								<div>
									<i class="devicon-gatsby-plain colored logo">Gatsby</i>
								</div>





								<!-- <div class="progress_inner" data-value="95" data-color="#142eb5">
									<span><span class="label">Javascript</span><span class="number">95%</span></span>
									<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
								</div>
								<div class="progress_inner" data-value="75" data-color="#142eb5">
									<span><span class="label">React</span><span class="number">75%</span></span>
									<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
								</div>
								<div class="progress_inner" data-value="90" data-color="#142eb5">
									<span><span class="label">React Native</span><span class="number">90%</span></span>
									<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
								</div> -->
							</div>
						</div>
						<div class="right">
							<div class="dodo_progress">
								<div>
									<i class="devicon-mongodb-plain colored logo">MongoDB</i>
								</div>
								<div>
									<i class="devicon-nodejs-plain colored logo">Node JS</i>
								</div>
								<div>
									<i class="devicon-git-plain colored logo">Git</i>
								</div>
								<div>
									<i class="devicon-jest-plain colored logo">Jest</i>
								</div>


								<!-- <div class="progress_inner" data-value="70" data-color="#142eb5">
									<span><span class="label">Node JS</span><span class="number">70%</span></span>
									<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
								</div>
								<div class="progress_inner" data-value="80" data-color="#142eb5">
									<span><span class="label">MongoDB</span><span class="number">80%</span></span>
									<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
								</div>
								<div class="progress_inner" data-value="60" data-color="#142eb5">
									<span><span class="label">JavaScript</span><span class="number">60%</span></span>
									<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /SKILLS -->



		<!-- TESTIMONIALS -->
		<!-- <div class="devman_tm_section">
			<div class="devman_tm_testimonials">
				<div class="container">
					<div class="devman_tm_main_title" data-text-align="center">
						<span>Testimonial</span>
						<h3>What Clients Say</h3>
						<p>Dliquip ex ea commo do conse namber onequa ute irure dolor in reprehen derit in voluptate</p>
					</div>
					<div class="testimonials_list wow fadeInUp" data-wow-duration="1s">
						<ul class="owl-carousel owl-theme">
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/1.jpg"></div>
										</div>
										<div class="short">
											<h3>Selena Brook</h3>
											<span>ABC Studio</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/3.jpg"></div>
										</div>
										<div class="short">
											<h3>David Parker</h3>
											<span>Designer</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/4.jpg"></div>
										</div>
										<div class="short">
											<h3>Jessica Smith</h3>
											<span>Vivaco Group</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/5.jpg"></div>
										</div>
										<div class="short">
											<h3>Collin Mattew</h3>
											<span>Photographer</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/6.jpg"></div>
										</div>
										<div class="short">
											<h3>Kerri Bull</h3>
											<span>UX Designer</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/7.jpg"></div>
										</div>
										<div class="short">
											<h3>Keylin Smith</h3>
											<span>Designer</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="svg" src="img/svg/quote.svg" alt="" />
									<p class="text">Duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<div class="details">
										<div class="image">
											<div class="main" data-img-url="img/testimonials/9.jpg"></div>
										</div>
										<div class="short">
											<h3>Adam Miller</h3>
											<span>Envato Studio</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="shape moving_effect" data-direction="y" data-reverse="yes"></div>
						<div class="shape_2 moving_effect" data-direction="y" data-reverse="yes"></div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- /TESTIMONIALS -->

		<!-- PARTNERS -->
		<!-- <div class="devman_tm_section">
			<div class="devman_tm_partners">
				<div class="container">
					<div class="partners_inner">
						<ul>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" src="img/partners/dark/1.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" src="img/partners/dark/2.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" src="img/partners/dark/3.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" src="img/partners/dark/4.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" src="img/partners/dark/5.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" src="img/partners/dark/6.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" src="img/partners/dark/7.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
							<li>
								<div class="list_inner">
									<img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" src="img/partners/dark/8.png" alt="" />
									<a class="devman_tm_full_link" a href="#"></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->
		<!-- /PARTNERS -->

		<!-- CONTACT -->
		<div class="devman_tm_section" id="contact">
			<div class="devman_tm_contact">
				<div class="container">
					<div class="contact_inner">
						<div class="devman_tm_main_title" data-text-align="left">
							<span>Vous avez un projet ?</span>
							<h3>Laissez moi un message</h3>
						</div>
						<div class="in">
							<div class="left wow fadeInLeft" data-wow-duration="1s">
								<div class="fields">
									<form action="/contact" method="post" class="contact_form" id="contact_form"
										autocomplete="off">

										<div class="returnmessage"
											data-success="Your message has been received, We will contact you soon.">
										</div>
										<div class="empty_notice"><span>Please Fill Required Fields</span></div>
										<div class="first">
											<ul>
												<li>
													<input id="name" name='name' type="text" placeholder="Nom" required
														minlength="1" maxlength="50">
												</li>
												<li>
													<input id="email" name='email' type="email" placeholder="Email"
														required>
												</li>
												<li>
													<input id="tel" name='tel' type="tel" placeholder="Téléphone"
														minlength="10" maxlenght="14" required>
												</li>
											</ul>
										</div>
										<div class="last">
											<textarea id="message" name='message' type='text' placeholder="Message"
												required minlength="1" maxlength="2000"></textarea>
										</div>
										<div class="g-recaptcha"
											data-sitekey="6LeEnZIhAAAAAOzZtkszihWaoaZJy3qNpZrU9_lf"></div>
										<div class="devman_tm_button" data-position="left">

											<button class="submit-btn" type='submit'>Envoyer le Message</button>

										</div>


										<!-- If you want to change mail address to yours, please open modal.php and go to line 4 -->

									</form>
								</div>
							</div>
							<div class="right wow fadeInRight" data-wow-duration="2s">
								<ul>
									<li>
										<div class="list_inner">
											<div class="icon">
												<i class="icon-mail-1 greenText"></i>
											</div>
											<div class="short">
												<h3>Email</h3>
												<span><a href="#">contact@julien-noel.com</a></span>
											</div>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<div class="icon">
												<i class="icon-phone purpleText"></i>
											</div>
											<div class="short">
												<h3>Tel</h3>
												<span>06.26.02.61.91</span>
											</div>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<div class="icon">
												<i class="icon-location orangeText"></i>
											</div>
											<div class="short">
												<h3>Addresse</h3>
												<span>44, rue d'alsace Lorraine 94100 St Maur Des Fosses</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="shape moving_effect" data-direction="y" data-reverse="yes"></div>
						<div class="shape_2 moving_effect" data-direction="y" data-reverse="yes"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /CONTACT -->



		<!-- CURSOR -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /CURSOR -->

		<!-- TOTOP -->
		<div class="progressbar">
			<a href="#"><span class="text">To Top</span></a>
			<span class="line"></span>
		</div>
		<!-- /TOTOP -->

	</div>
	<!-- / WRAPPER ALL -->

	<!-- SCRIPTS -->
	<script src="js/jquery.js"></script>
	<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
	<script src="js/plugins.js"></script>
	<script src="js/init.js"></script>

	<!-- /SCRIPTS -->

</body>

</html>